<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content=", , ">
  <meta charset="utf-8">
  <title>Natural Food Store（無農薬食品店）</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="css/normalize.v3.0.2.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="img/home/favicon.png" rel="icon"><!--32px×32px-->
  <link rel="stylesheet" href="css/flexslider.css">
  <link rel="stylesheet" href="css/base.css" type="text/css">
  <link rel="stylesheet" href="css/index.css" type="text/css">

  <link href="css/sandbox.css" rel="stylesheet" type="text/css">
  <link href="css/drawer.min.css" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll.min.js"></script>
  <script src="https://cdn.rawgit.com/ungki/bootstrap.dropdown/3.3.5/dropdown.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/jquery.flexslider.js"></script>

  <script src="js/drawer.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.drawer').drawer();
    });

$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
  });
});
</script>

<meta property="og:type" content="website">
<meta property="og:locale" content="ja_JP">
<meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
  <%= csrf_meta_tags %>
</head>
<body class="drawer drawer--right">
  <%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
